matplotlib==3.4.3
numpy==1.21.1
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.1
pytest==6.2.4
pytest-cov==2.12.1
manubot==0.5.1
panflute==2.1.0
pandoc-fignos==2.4.0
pandoc-eqnos==2.5.0
pandoc-tablenos==2.3.0
jaxlib==0.1.71
jax==0.2.21
svgutils==0.3.4
celluloid==0.2.0
ffmpeg==1.4
git+https://github.com/meyer-lab/valentBind.git@v0.1.0
