matplotlib==3.3.1
numpy==1.19.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
pytest==6.0.2
pytest-cov==2.10.1
pylint==2.6.0
manubot==0.4.1
pandoc-fignos==2.3.1
pandoc-eqnos==2.3.0
pandoc-tablenos==2.2.2
jaxlib==0.1.52
jax==0.1.75
svgutils==0.3.1
celluloid==0.2.0
ffmpeg==1.4
